.bin
.cache
.classpath
.data
.sass-cache
.settings
.tmp
.git


*.7z
*.bin
*.data
*.rar
*.tmp
*.zip
ttt.*
# /config.js

node_modules
reports
build
stepBundles
_test
_doc

# ignore for github respo
# /lib/*/render/src/
# render/.eslintrc
# render/package.json
# render/package-lock.json
# render/webpack.config.dev.js
# render/webpack.config.prod.js

.vscode

