.bin
.cache
.classpath
.data
.sass-cache
.settings
.tmp
.git


*.7z
*.bin
*.data
*.rar
*.tmp
*.zip
ttt.*

/config.js
shmSetting.json


node_modules
build
/records
/stepBundles
/project
documents
_test
_doc
_src

# Push the symlink to repository for developing record, but not publish them to NPM
# project
# stepBundles
# reports
# ./config.js
# ./shmSetting.json

# ignore for github respo
# /lib/*/render/src/
# render/.eslintrc
# render/package.json
# render/package-lock.json
# render/webpack.config.dev.js
# render/webpack.config.prod.js

.vscode

