.bin
.cache
.data
.sass-cache
.settings
.tmp
.git


*.7z
*.bin
*.data
*.rar
*.tmp
*.zip

node_modules
reports
test
build
stepBundles
devDoc
demo

# ignore for npm
render/src
render/.eslintrc
render/package.json
render/package-lock.json
render/webpack.config.dev.js
render/webpack.config.prod.js

.vscode